* {
    cursor: pointer;
  }
body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
}
h1 {
  text-align: center;
}
.start {
  text-align: center;
  font-size: 50px;
  margin: 350px auto;
  width: 25%;
  border: 1px solid white;
  border-radius: 100px;
  box-shadow: 5px 5px 5px black;
  cursor: no-drop;
}
.start:hover {
  background-color: white;
  color: black;
  box-shadow: none;
}
#score {
  position: absolute;
  left: 20px;
  bottom: 0;
  font-size: 30px;
  background-color: rgba(0,0,0,.8);
}
.a, .b, .c, .d, .e, .f, .g, .h, .i, .j, .k, .l {
width: 70px;
height: 70px;
position: fixed;
display: none;
cursor: no-drop;
}
